<div class="brew-container container-fluid">Loading....</div>

<!-- HOMEPAGE TEMPLATES -->
<%= erb :"welcome/_homepage" %>

<!-- BEER TEMPLATES -->
<%= erb :"beer/_beer_index" %>
<%= erb :"beer/_beer_search_results" %>
<%= erb :"beer/_beer_show" %>
<%= erb :"beer/_beer_edit" %>
<%= erb :"beer/_beer_style" %>

<!-- BREWERY TEMPLATES -->
<%= erb :"brewery/_brewery_index" %>
<%= erb :"brewery/_brewery_search_results" %>
<%= erb :"brewery/_brewery_show" %>

<!-- USERS TEMPLATES -->
<%= erb :"user/_user_show" %>