<div class="brew-container container-fluid"></div>

<!-- BEER TEMPLATES -->
<%= erb :"welcome/_homepage" %>

<!-- BEER TEMPLATES -->
<%= erb :"beer/_beer_index" %>
<%= erb :"beer/_beer_search_results" %>
<%= erb :"beer/_beer_show" %>
<%= erb :"beer/_beer_edit" %>

<!-- BREWERY TEMPLATES -->

